footer{
    background-color: #ffffff;
    text-align: center;
}

footer>article{
    align-items: center;
    color: #666;
    margin-bottom: 2em;
}

.footer-icon{
    color: #1259c3;
    display: block;
    font-size: 2em;
    margin-bottom: 10px;
}

.disclaimer{
    
    font-size: 18px;
    display: block;
}

.disclaimer-small{
    color: #666;
    font-size: 12px;
}

@media only screen and (min-width: 361px){

    footer{
        padding-top: 8%;
    }
}

@media only screen and (min-width:775px){

    footer{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: center;
    }

    footer>article{
        width: 30vw;
    }

    footer>div{
        box-sizing: border-box;
        margin-bottom: 5%;
        margin-top: 5%;
        text-align: left;
        width: 100vw;
    }

    footer>div>span{
        margin-left: 5%;
    }

    .footer-icon{
        transition: 0.3s color ease-in-out;
    }

    .footer-icon:hover{
        color: #0022AA;
    }
} 