body {
    background-color: #EAC926;
    font-family: 'Roboto' , sans-serif;
}

.logo {
    height: 2.5rem;
    margin-left: 45%;
}

header>h3{
    font-weight: 400;
    text-align: center;
}

nav{
    margin-bottom: 2em;
}

nav>a{
    display: block;
    color: #000;
    text-decoration: none;
    visited: none;
}

.burger-menu{
    align-items: center;
    background-color: #1259c3;
    border-radius: 3px;
    display: block;
    color: #ffffff;
    height: 15px;
    margin-left: 50%;
    padding: 0.5%;
    width: 15px;
}

.burger-menu>i{
    color: #ffffff;
}

h4 {
    font-size: 24px;
    text-align: center;
}

section>article{
    background-color: #ebebeb;
    margin-left: 18%;
    margin-bottom: 5em;
    padding:3%;
    width: 60%;
}

.product-image{
    display: block;
    height: 25em;
    margin-left: 25%;
    margin-bottom: 3em;
}

.prices{
    font-size: 12px;
    display: block;
    text-align: center;
}

.discount{
    font-size: 16px;
    display: block;
    text-align: center;
}

.description{
    font-size: 16px;
    display: block;
    text-align: center;
}

.products{
    align-items: center;
}

footer{
    background-color: #ffffff;
    text-align: center;
}

footer>article{
    align-items: center;
    color: #666;
    margin-bottom: 2em;
}

.footer-icon{
    color: #1259c3;
    display: block;
    font-size: 2em;
    margin-bottom: 10px;
}

.disclaimer{
    
    font-size: 18px;
    display: block;
}

.disclaimer-small{
    color: #666;
    font-size: 12px;
}