<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/css/styles-header.css" rel="stylesheet" type="text/css">
    <link href="/css/styles-main.css" rel="stylesheet" type="text/css">
    <link href="/css/styles-footer.css" rel="stylesheet" type="text/css">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" type ="text/html">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet" type ="text/html">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet" type="text/html">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet" type ="text/html">
    <script src="https://kit.fontawesome.com/127d5f7c91.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <img src="/assets/images/logo-mercado-liebre.svg" alt="Logo" class="logo">
        <form method="get" action="/" class="input-field"><input type="text" name="search" placeholder="Buscar productos, marcas"><div class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></div></form>
        <div class="heading"><h3><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3></div> 
        <nav class="big-screen nav1"><a href="">Ofertas</a><a href="">Tiendas Oficiales</a><a href="">Vender</a><a href="">Ayuda</a></nav>
        <nav class="big-screen nav2"><a href="./register.html">Crea tu cuenta<i class="fa-solid fa-address-card"></i></a><a href="./login.html">Ingresá<i class="fa-solid fa-arrow-right-to-bracket "></i></a><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></nav>
        <div class="small-screen"><nav class="burger-menu"><i class="fas fa-bars"></i></nav></div>
        <figure class="banner"><img src="/assets/images/img-home-banner.jpg" alt="banner" /></figure>
    </header>
    <main>
        <section class="products">
            <h4>Basado en tu última visita</h4>
            <article><img src="/assets/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$6.770</span><span class="discount">40% OFF</span><span class="description">Cafetera Moulinex</span></div></article>
            <article><img src="/assets/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$230.000</span><span class="discount">20% OFF</span><span class="description">MacBook Pro 2019</span></div></article>
            <article><img src="/assets/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$70.500</span><span class="discount">10% OFF</span><span class="description">Samsung Galaxy S10</span></div></article>
            <article><img src="/assets/images/img-tv-samsung-smart.jpg" alt="Smart TV" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$23.200</span><span class="discount">5% OFF</span><span class="description">SmartTV Samsung 43"</span></div></article>
        </section>
        <section class="products">
            <h4>Ofertas</h4>
            <article><img src="/assets/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$6.770</span><span class="discount">40% OFF</span><span class="description">Cafetera Moulinex</span></div></article>
            <article><img src="/assets/images/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$230.000</span><span class="discount">20% OFF</span><span class="description">MacBook Pro 2019</span></div></article>
            <article><img src="/assets/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$70.500</span><span class="discount">10% OFF</span><span class="description">Samsung Galaxy S10</span></div></article>
            <article><img src="/assets/images/img-tv-samsung-smart.jpg" alt="Smart TV" class="product-image"><div class="info-container"><div class="truck-container"><i class="fa-solid fa-truck"></i></div><span class="prices">$23.200</span><span class="discount">5% OFF</span><span class="description">SmartTV Samsung 43"</span></div></article>
        </section>
    </main>
    <footer>
        <article>
            <div><i class="fa-solid fa-credit-card footer-icon"></i><span class="disclaimer">Pagá con tarjeta o en efectivo</span><span class="disclaimer-small">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</span></div>
        </article>
        <article>
            <div><i class="fa-solid fa-gift footer-icon"></i><span class="disclaimer">Envío gratis desde $ 2.500</span><span class="disclaimer-small">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</span></div>
        </article>
        <article>
            <div><i class="fa-solid fa-user-shield footer-icon"></i><span class="disclaimer">Seguridad, de principio a fin</span><span class="disclaimer-small">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</span></div>
        </article>
        <div><span class="disclaimer-small">Copyright © 1999-2020 MercadoLiebre S.R.L.</span></div>
    </footer>
</body>
</html>