<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <img src="/public/assets/images/logo-mercado-liebre.svg" alt="Logo">
        <div class="chip"><i class="material-icons prefix"></i><input type="text" id="icon_prefix"><label for="icon_prefix">Buscar</label></div>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav><a href="">Ofertas</a><a href="">Tiendas Oficiales</a><a href="">Vender</a><a href="">Ayuda</a></nav>
        <nav><a href="">Crea tu cuenta</a><a href="">Ingresá</a><a href="">Mis compras</a></nav>
    </header>
    <main>
        <section>
            <h4>Basado en tu última visita</h4>
            <article><img src="/public/assets/images/img-cafetera-moulinex.jpg" alt="Cafetera"><span>$6.770</span>40% OFF<span>Cafetera Moulinex</span><span></span></article>
            <article><img src="/public/assets/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"><span>$230.000</span>20% OFF<span>MacBook Pro 2019</span><span></span></article>
            <article><img src="/public/assets/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"><span>$70.500</span><span>10% OFF</span><span>Samsung Galaxy S10</span></article>
            <article><img src="/public/assets/images/img-tv-samsung-smart.jpg" alt="Smart TV"><span>$23.200</span><span>5% OFF</span><span>SmartTV Samsung 43"</span></article>
        </section>
        <section>
            <h4>Ofertas</h4>
            <article><img src="/public/assets/images/img-cafetera-moulinex.jpg" alt="Cafetera"><span>$6.770</span>40% OFF<span>Cafetera Moulinex</span><span></span></article>
            <article><img src="/public/assets/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"><span>$230.000</span>20% OFF<span>MacBook Pro 2019</span><span></span></article>
            <article><img src="/public/assets/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"><span>$70.500</span><span>10% OFF</span><span>Samsung Galaxy S10</span></article>
            <article><img src="/public/assets/images/img-tv-samsung-smart.jpg" alt="Smart TV"><span>$23.200</span><span>5% OFF</span><span>SmartTV Samsung 43"</span></article>
        </section>
    </main>
    <footer>
        <article>
            <div><span>Pagá con tarjeta o en efectivo</span><span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</span></div>
        </article>
        <article>
            <div><span>Envío gratis desde $ 2.500</span><span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</span></div>
        </article>
        <article>
            <div><span>Seguridad, de principio a fin</span><span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</span></div>
        </article>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>